# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

[workspace]
resolver = "2"
members = [
    "crates/catalog/*",
    "crates/examples",
    "crates/iceberg",
    "crates/integration_tests",
    "crates/integrations/*",
    "crates/sqllogictest",
    "crates/test_utils",
]
exclude = ["bindings/python"]

[workspace.package]
version = "0.4.0"
edition = "2021"
homepage = "https://rust.iceberg.apache.org/"

repository = "https://github.com/apache/iceberg-rust"
license = "Apache-2.0"
rust-version = "1.77.1"

[workspace.dependencies]
anyhow = "1.0.72"
apache-avro = "0.17"
array-init = "2"
arrow-arith = { version = "54.2.1" }
arrow-array = { version = "54.2.1" }
arrow-buffer = { version = "54.2.1" }
arrow-cast = { version = "54.2.1" }
arrow-ord = { version = "54.2.1" }
arrow-schema = { version = "54.2.1" }
arrow-select = { version = "54.2.1" }
arrow-string = { version = "54.2.1" }
async-stream = "0.3.5"
async-trait = "0.1.86"
async-std = "1.12"
aws-config = "1"
aws-sdk-glue = "1.39"
bimap = "0.6"
bitvec = "1.0.1"
bytes = "1.10.1"
chrono = "0.4.38"
ctor = "0.2.8"
datafusion = "46.0.0"
derive_builder = "0.20"
either = "1"
env_logger = "0.11.0"
fnv = "1.0.7"
futures = "0.3"
iceberg = { version = "0.4.0", path = "./crates/iceberg" }
iceberg-catalog-rest = { version = "0.4.0", path = "./crates/catalog/rest" }
iceberg-catalog-hms = { version = "0.4.0", path = "./crates/catalog/hms" }
iceberg-catalog-memory = { version = "0.4.0", path = "./crates/catalog/memory" }
iceberg-datafusion = { version = "0.4.0", path = "./crates/integrations/datafusion" }
itertools = "0.13"
log = "0.4.22"
mockito = "1"
murmur3 = "0.5.2"
num-bigint = "0.4.6"
once_cell = "1.20"
opendal = "0.51.2"
ordered-float = "4"
parquet = "54.2.1"
paste = "1.0.15"
pilota = "0.11.2"
pretty_assertions = "1.4"
port_scanner = "0.1.5"
rand = "0.8.5"
regex = "1.10.5"
reqwest = { version = "0.12.2", default-features = false, features = ["json"] }
rust_decimal = "1.31"
serde = { version = "1.0.204", features = ["rc"] }
serde_bytes = "0.11.15"
serde_derive = "1.0.204"
serde_json = "1.0.138"
serde_repr = "0.1.16"
serde_with = "3.4"
tempfile = "3.18"
thrift = "0.17.0"
tokio = { version = "1.43.0", default-features = false }
typed-builder = "0.20"
url = "2.5.4"
urlencoding = "2"
uuid = { version = "1.15.1", features = ["v7"] }
volo-thrift = "0.10"
hive_metastore = "0.1"
tera = "1"
zstd = "0.13.2"
expect-test = "1"
