# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

name: Publish

on:
  push:
    tags:
      - '*'
  pull_request:
    branches:
      - main
    paths:
      - ".github/workflows/publish.yml"
  workflow_dispatch:


env:
  rust_min: "1.77.1"

jobs:
  publish:
    runs-on: ubuntu-latest
    strategy:
      # Publish package one by one instead of flooding the registry
      max-parallel: 1
      matrix:
        # Order here is sensitive, as it will be used to determine the order of publishing
        package:
          - "crates/iceberg"
          - "crates/catalog/hms"
          - "crates/catalog/rest"
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust ${{ env.rust_min }}
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ env.rust_min }}

      - uses: Swatinem/rust-cache@v2
        
      - name: Dryrun ${{ matrix.package }}
        working-directory: ${{ matrix.package }}
        run: cargo publish --all-features --dry-run

      - name: Publish ${{ matrix.package }}
        working-directory: ${{ matrix.package }}
        # Only publish if it's a tag and the tag is not a pre-release
        if: ${{ startsWith(github.ref, 'refs/tags/') && !contains(github.ref, '-') }}
        run: cargo publish --all-features
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}